<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6">
            <h3>CRIAR ALERTA</h3>
        </div>
        <div class="card-body">
            <form action="api.php?action=cadastrar_evento" method="post" id="eventoForm">   
                <!--Nome e descrição do evento-->
                <div class="row mb-6">
                    <div class="col-md-6">
                        <label for="nome" class="form-label">Descrição do Evento</label>
                        input type="text" class="form-control" id="nome" name="nome" required placeholder="Escreva um descrição breve do salvarEvento" maxlength="50">
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>