<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-6 mb-3">
            <h3 class="text-primary">Criar Alerta</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card shadow-sm p-4">
                <form action="api.php?action=cadastrar_evento" method="post" id="eventoForm">

                    <!-- Nome e descrição do evento -->
                    <div class="mb-3">
                        <label for="nome" class="form-label">Descrição do Evento</label>
                        <input type="text" class="form-control" id="nome" name="nome" required
                            placeholder="Escreva uma descrição breve do Evento" maxlength="50">
                    </div>

                    <!-- Tipo e Subtipo -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="tipo" class="form-label">Tipo</label>
                            <select class="form-select" id="tipo" name="tipo" required>
                                <option value="">Selecione um Tipo</option>
                                {% for tipo in tipos %}
                                <option value="{{ tipo.id }}">{{ tipo.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="subtipo" class="form-label">Subtipo</label>
                            <select class="form-select" id="subtipo" name="subtipo" required>
                                <option value="">Selecione um Subtipo</option>
                            </select>
                        </div>
                    </div>

                    <!-- Início e Fim do Evento -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="starttime" class="form-label">Início do Evento</label>
                            <input type="datetime-local" class="form-control" id="starttime" name="starttime" required>
                        </div>
                        <div class="col-md-6">
                            <label for="endtime" class="form-label">Fim do Evento</label>
                            <input type="datetime-local" class="form-control" id="endtime" name="endtime" required>
                        </div>
                    </div>

                    <!-- Dias da Semana -->
                    <div class="mb-3">
                        <label for="dias_semana" class="form-label">Dias da Semana</label>
                        <select multiple class="form-select" id="dias_semana" name="dias_semana[]">
                            <option value="sunday">Domingo</option>
                            <option value="monday">Segunda-feira</option>
                            <option value="tuesday">Terça-feira</option>
                            <option value="wednesday">Quarta-feira</option>
                            <option value="thursday">Quinta-feira</option>
                            <option value="friday">Sexta-feira</option>
                            <option value="saturday">Sábado</option>
                        </select>
                    </div>

                    <!-- Horários -->
                    <div id="horarios_dia" class="mb-3">
                        <!-- Espaço para adicionar campos de horário para cada dia da semana -->
                    </div>

                    <!-- Coordenadas -->
                    <div class="mb-3">
                        <label for="coordenadas" class="form-label">Coordenadas do Evento (lat, lon)</label>
                        <input type="text" class="form-control" id="coordenadas" name="coordenadas" required
                            placeholder="Clique no mapa para definir as coordenadas" readonly>
                    </div>

                    <!-- Rua -->
                    <div class="mb-3">
                        <label for="rua" class="form-label">Selecione a Rua</label>
                        <select class="form-select" id="ruaSelect" name="rua" required>
                            <option value="">Selecione uma rua</option>
                            <!-- Opções de rua preenchidas dinamicamente -->
                        </select>
                    </div>

                    <!-- Sentido e Botão de Envio -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="directionSelect" class="form-label">Escolha o Sentido</label>
                            <select id="directionSelect" class="form-select" name="directionSelect"></select>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center mt-6">
                            <button type="submit" class="btn btn-primary w-100">Criar Evento</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Mapa -->
        <div class="col-lg-4 mt-4 mt-lg-0">
            <div id="map" class="card shadow-sm" style="height: 100%;"></div>
        </div>
    </div>
</div>