# Habilita RewriteEngine
RewriteEngine On

# Define o diretório base (ajuste caso o site não esteja na raiz)
RewriteBase /wazeportal

# Bloqueia o acesso ao arquivo .env
<Files ".env">
    Order Allow,Deny
    Deny from all
</Files>

# Permite o acesso direto aos arquivos dentro da pasta /parceiros
RewriteCond %{REQUEST_URI} ^/wazeportal/parceiros/
RewriteRule ^(.*)$ - [L]

# Redireciona tudo para o index.php, exceto arquivos e pastas existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
